 
  /* Responsive styles */
  
  @media only screen and (max-width: 1415px) {
    #page3 #colon1 {
      left: 10%;
      top: 20%;
    }
    #page3 #colon2 {
      bottom: 21%;
      right: 13%;
    }
  }
  @media only screen and (max-width: 768px) {
    /* Adjustments for smaller screens */
    
    /* Update styles for #nav */


    #cursor {
        height: 20px;
        width: 20px;
        background-color: #0b0b0b;
        border-radius: 50%;
        position: fixed;
        z-index: 99;
        transition: all linear 0.1s;
      }
      #cursor-blur {
        height: 300px;
        width: 300px;
        background-color: rgba(150, 193, 30, 0.3);
        border-radius: 50%;
        position: fixed;
        filter: blur(80px);
        z-index: 9;
        transition: all linear 0.4s;
      }
    #nav {
       padding-top: 9vh;
      height: auto;
      padding: 0 10px; /* Adjust padding for smaller screens */
      gap: 2px;
      padding-right: 20px;
      justify-content: center;
      z-index: 1000;
    }
    .logo{
      padding: 1rem 0 0 0.5rem;
    }
    .logo img{
      height: 8.5vw;
    }
    #nav img {
        padding-top: 2vh;
      height: auto;
      width: 10vw; /* Adjust image size for smaller screens */
    }
    
    #nav h4 {

      font-size: 2vw; /* Adjust font size for smaller screens */
    }

    
    /* Update styles for #page1 */
    #page1 h1 {
       
      font-size: 12vw; /* Adjust font size for smaller screens */
    }
    
    #page1 h2 {
   
      font-size:5vw; /* Adjust font size for smaller screens */
    }
    
    #page1 p {
      font-size: 2.5vw; /* Adjust font size for smaller screens */
      width: 80%; /* Adjust width for smaller screens */
    }
    
    #page1 #arrow {
      height: 15vw; /* Adjust arrow size for smaller screens */
      width: 15vw; /* Adjust arrow size for smaller screens */
      margin-left: 2%; /* Adjust margin for smaller screens */
      bottom: 15%; /* Adjust position for smaller screens */
    }
    
    #page1 #arrow i {
      font-size: 3vw; /* Adjust font size for smaller screens */
    }
    
    /* Update styles for other sections */
    /* Apply similar adjustments for other sections */
    
    #page2 {
        min-height: 3vh;
        width: 100%;
        z-index: 1;
      }
    
    #about-us img {
        height: 0;
        width: 0;
        border-radius: 20px;
        padding-top: 7vh;
      }
    
    #about-us-in {
        width: 70%;
       
    }

    #page2 h1 {
      font-size: 7vw;
    }
    
    #page2 h3 {
      font-size: 4vw;
    }
    
    #page2 p {
      font-size: 3vw;
    }

    #cards-container {
        height: 46vh;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        position: relative;
        z-index: 10;
      }
    
    .card {
        height: 60%;
        width: 30%;
        border-radius: 20px;
        background-size: cover;
        background-position: center;
        overflow: hidden;
        transition: all ease 0.6s;
    }

    .overlay {
        height: auto;
        background-color: #95c11e;
        padding: 6px;
        opacity: 0;
        transition: all ease 0.6s;
     }

     .overlay h4 {
        color: #000;
        font-size: 2vw;
        text-transform: uppercase;
        white-space: nowrap;
        margin-bottom: 2px;
        font-weight: 800;
      }

      .overlay p {
        color: #000;
        width: 100%;
        font-size: 2vw;
      }
      .card:hover .overlay {
        opacity: 1;
      }
      .card:hover {
        transform: rotate3d(-1, 1, 0, 20deg);
      }
    #page3 p {
      font-size: 1vw;
      width: 80%;
    }
    
    #page3 img {
      height: 4vh;
    }


    #green-div {
        height: 30vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* background-color: red; */
        background: linear-gradient(to left bottom, #119f3a, #ace022);
      }

      #green-div h4 {
        width: 70%;
        line-height: 6vw;
        color: #000;
        text-align: center;
        font-weight: 800;
        font-size: 20px;
        text-transform: uppercase;
      }
      #page3{
        height: 75vh;
      }
      #page3 > p {
        font-size: 3vw;
        font-weight: 600;
        width: 70%;
        line-height: 43px;
        text-align: center;
        /* margin-bottom: 20vh; */
      }
      
      #page3 #colon1 {
        left: 9%;
        top: 20%;
      }
      #page3 #colon2 {
        bottom: 23%;
        right: 14%;
      }
      #page4{
        padding: 0 1.5rem;
        gap: 25px;
      }
    #page4 h1 {
      font-size: 6vw;
    }

    .elem {
        height: 46%;
        width: 24%;
        overflow: hidden;
        border-radius: 20px;
        position: relative;
        margin-right: 20px; /* Add margin-right to create space between images */
      }
      
    .elem img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: all ease 0.5s;
        scale: 1;
      }
    .elem h2 {
      font-size: 2vw;
    }

  #f1 img {
        height: 10vh;
        margin-bottom: 10vh;
      
      }

      #f1,
      #f2,
      #f3,
      #f4 {
        width: fit-content;
        position: relative;
        z-index: 99;
      }

     
      
      #f3 h3 {
        font-size: 2vw;
        white-space: nowrap;
        text-transform: uppercase;
        color: white;
        font-weight: 800;
       
        margin-bottom: 8px;
      }
      #f4 h4 {
        font-size: 1vw;
        white-space: nowrap;
        text-transform: uppercase;
        color: #000;
        font-weight: 600;
        line-height: 20px;
        margin-bottom: 8px;
      }
      
  }
  @media only screen and (max-width: 580px) {
    .elem{
      height: 35%;
      width: 24%;
    }
    .logo img{
      height: 10.5vw;
    }
    #nav{
      padding: 0px;
    }
    #nav h4 a {
      margin-left: 25px;
    }
    .header{
      padding: 0px;
    }
    #page3 > p{
      line-height: 32px;
    }
    #page3 #colon1 {
      left: 6%;
      top: 27%;
    }
    #page3 #colon2 {
      bottom: 28%;
      right: 14%;
    }
    #green-div{
      height: 16vh;
    }
    #green-div h4{
      font-size: 14px;
    }
    .contactsec h1{
      font-size: 2.3rem;
    }

    .eventdetails h1{
      font-size: 31px
    }
  }